/* Hero.css */
.hero-container {
    position: relative;
    /* background: url('../../../public/images/hero-03.jpeg') center/cover no-repeat; */
    height: 81vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    background-color: #006fb9;
  }
  
  .overlay {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
        /* border-radius: 0 8rem 8rem 0; */
        border-radius: 50%;
   overflow: hidden;
  }
  
  .top-right {
    top: 20px;
    right: 10px;
    border-radius: 8rem 0 0 8rem;
    overflow: hidden;
  }
  
  .bottom-left {
    bottom: 20px;
    left: 10px;
    border-radius: 0 8rem 8rem 0;
  }

  .top-right img,
  .bottom-left img {
    width: 100%;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  /* h1 {
    font-size: 3.2rem;
    margin-bottom: 20px;
  } */
  
  p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  button {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #058b51;
  }
  