* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header.css */
.header-container {
  background-color: white;
  padding: 0 10px 10p 10p;
  color: rgb(4, 4, 158);
  margin: 0;
  border-bottom: 1px solid rgb(4, 4, 158);
}

.logo {
  text-decoration: none;
  color: rgb(4, 4, 158);
  font-size: 1.5rem;
  font-weight: bold;
}

.heading {
  margin: 0;
  width: 70%;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10px; */
}

.row {
  display: flex;
  padding: 20px 0;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgb(231, 228, 228);
  padding: 10px;
  /* background-color: #00a652; */
}

.top-row .logo {
  /* background-color: #00a652; */
  padding: 5px 20px;
}

.top-row .logo img {
  width: 170px;
 
}

.heading .flag img {
  width: 35px;
  height: auto;
}

.nav-item {
  text-decoration: none;
  color: rgb(4, 4, 158);
  margin: 0 15px;
  font-size: 1rem;
  font-weight: bold;
}

.nav-item:hover {
  text-decoration: underline;
}

.top-row-links {
  background-color: #00a652;
  padding: 40px 25px;
}

.logo,
.top-row-links {
  width: 30%;
}
/* Dropdown styles */
.nav-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(4, 4, 158);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 20px;
  display: block;
  text-decoration: none;
  width: max-content;
  
}

.dropdown-content a:hover {
  background-color: #2980b9;
}


.sub-dropdown {
  position: relative;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgb(4, 4, 158);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
}
.sub-sub-dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgb(4, 4, 158);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.sub-dropdown-content a {
  color: white;
  padding: 12px 20px;
  display: block;
  text-decoration: none;
  width: max-content;
}

.sub-dropdown-content a:hover {
  background-color: #2980b9;
}